/* body {
    background: rgb(2, 0, 36);
    background: radial-gradient(
      circle,
      rgba(2, 0, 36, 1) 0%,
      rgba(30, 54, 59, 1) 0%,
      rgba(93, 93, 116, 1) 100%
    );
  } */

  .container {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* max-width: 500px; */
    width:100%;
    font-size: large;
    padding: 10px;
    padding-right: 1PX;
    padding-left: 1PX;

    
    /* margin: auto; */
  }
  .container > form {
    /* background-color: #ffd301; */

    width: 70%;
    border: 1px solid #dfdfdf;
    padding: 20px;
    /* border-radius: 5px; */
    background: #fff;
    border-radius: 15px;

  }
  /* pre {
    width: 70%;
    color: #fff;
    font-size: larger;
  } */
  
  .button{
    background: #ffd301  !important;
    margin-left: 100px;
    /* margin-bottom:'25px'; */
    border-width: 1px;
    width: 150px;
    font-weight: bold;
    height:25px;
    border-radius: 5px;
  }
  .para {
    color: red;
  }
  .field{
    margin-bottom: 35px;
  }
  .field > label{
    font-weight: 500;
  }
  .field>input{
    width: 200px;
  }